@model List<AdaylarViewModel>
@{
    ViewData["Title"] = "Ilan";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<h2>Başvurular</h2>
<br />
<table id="table1" class="table table-bordered">
    <thead>
        <tr>
            <th>Aday Adı Soyadı</th>
            <th>Başvurduğu İlan</th>                            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AdayAdiSoyadi</td>
                <td>@item.BasvuruBolumu</td>            
            </tr>
        }
    </tbody>
</table>

