@using WebApplication1.Models
@model List<Ilan>
@{
    ViewData["Title"] = "IlanGoster";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>İlanlar</h2>
<br />
<table id="table1" class="table table-bordered">
    <thead>
        <tr>
            <th>İlan Açıklaması</th>
            <th>İlan Başlangıç</th>
            <th>İlan Bitiş</th>
            <th>İlan Aktif Mi</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.IlanAciklama</td>
                <td>@x.IlanBaslangicTarihi.ToShortDateString()</td>
                <td>@x.IlanBitisTarihi.ToShortDateString()</td>
                <td>@x.IlanAktifMi</td>
                <td><a href="/Ilan/IlanGetir/@x.IlanID" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Ilan/IlanSil/@x.IlanID" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </tbody>   
</table>
